{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Page Header -->
    <header class="header" id="home">
        <div class="container">
           <div class="infos">
                <h6 class="subtitle">hello,I'm</h6>
                <h6 class="title"> {{ personal.name }} </h6>
                <p> {{ personal.career }} </p>

                <div class="buttons pt-3">
                    <a target="_blank" href="https://www.linkedin.com/in/hamza-waleed-4277a7269/" class="btn btn-primary rounded" style="color: white;">HIRE ME</a>
                    <a target="_blank" alt="{{ cv.title }}" href="{{ cv.cv.url }}" class="btn btn-dark rounded" style="color: white;">DOWNLOAD CV</a>
                </div>      

                <div class="socials mt-4">
                    {% for url in urls %}
                        <a target="_blank" alt="{{ url.title }}" class="social-item" href="{{ url.url }}"><i class="ti-{{ url.title }}"></i></a>
                    {% endfor %}
                </div>
            </div>              
            <div class="img-holder">
               <img src="{% static 'media/man.svg' %}" alt="{{ personal.name }}">
            </div>      
        </div>  

        <!-- Header-widget -->
        <div class="widget">
            {% for fact in facts %}
                <div class="widget-item">
                    <h2> {{ fact.number }} </h2>
                    <p> {{ fact.title }} </p>
                </div>
            {% endfor %}    
        </div>
    </header>
    <!-- End of Page Header -->

    <!-- About section -->
    <section id="about" class="section mt-3">
        <div class="container mt-5">
            <div class="row text-center text-md-left">
                <div class="col-md-3">
                    <img src="{{ personal.personal_photo.url }}" alt="{{ personal.name }}" class="img-thumbnail mb-4">
                </div>
                <div class="pl-md-4 col-md-9">
                    <h6 class="title"> {{ personal.name }} </h6>
                    <p class="subtitle"> {{ personal.career }} </p>
                    <p> {{ personal.bio }} </p>
                    <a target="_blank" alt="{{ cv.title }}" href="{{ cv.cv.url }}">
                        <button class="btn btn-primary rounded mt-3">
                            DOWNLOAD CV
                        </button>
                    </a>               
                </div>
            </div>
        </div>
    </section>

    <!-- Service section -->
    <section id="service" class="section">
        <div class="container text-center">
            <h6 class="subtitle">Service</h6>
            <h6 class="section-title mb-4">What I Do</h6>
            <p class="mb-5 pb-4"> This is my skills, Or this is things i can do it perfectly. </p>

            <div class="row">
                {% for skill in skills %}
                    <div class="col-sm-6 col-md-3 mb-4">
                        <div class="custom-card card border">
                            <div class="card-body">
                                <i class="icon ti-{{ skill.desc_for_pic }}"></i>
                                <h5> {{ skill.my_skills }} </h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}                
                </div>
            </div>
        </div>
    </section>
    <!-- End of Sectoin -->

    <!-- Skills section -->
    <section class="section">
        <div class="container text-center">
            <h6 class="subtitle">Skills</h6>
            <h6 class="section-title mb-4">Why Choose me</h6>
            <p class="mb-5 pb-4">These are the skills that I have learned, that I am learning, <br> the extent of my learning and depth in them, and in which I have experience</p>

            <div class="row text-left">
                {% for skill in skills %}
                    <div class="col-sm-6">
                        <h6 class="mb-3"> {{ skill.my_skills }} </h6>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: {{ skill.precent_finish }};" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span>89%</span></div>
                        </div>
                    </div>
                {% endfor %}
            </div>  
        </div>
    </section>
    <!-- End of Skills sections -->

    <!-- Portfolio section -->
    <section id="portfolio" class="section">
        <div class="container text-center">
            <h6 class="subtitle">Portfolio</h6>
            <h6 class="section-title mb-4">Check My Wonderful Works</h6>
            <p class="mb-5 pb-4">This is my portfolio and my works, you can see it to know my work. <br> Check it and Hire me </p>

            <div class="row">
                {% for project in projects %}
                    <div class="col-sm-4">
                        <div class="img-wrapper">
                            <img src="{{ project.image_for_project.url }}" alt="{{ project.title }}">
                            <div class="overlay">
                                <div class="overlay-infos">
                                    <h5> {{ project.title }} </h5>
                                    <a target="_blank" href="{{ project.url }}"><i class="ti-link"></i></a>
                                </div>  
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section>
    <!-- End of portfolio section -->

    <!-- Testmonial Section -->
    <section id="testmonial" class="section">
        <div class="container text-center">
            <h6 class="subtitle">Testmonial</h6>
            <h6 class="section-title mb-4">What People Say About Me</h6>
            <p class="mb-5 pb-4">These are people's opinions about me that you can see to ensure the quality of my work, <br>  and these opinions come from experts in various fields that you can read. </p>


            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    {% for opinion in opinions %}
                        <div class="carousel-item {{ opinion.active }}">
                            <div class="card testmonial-card border">
                                <div class="card-body">
                                    <img src="{{ opinion.picture.url }}" alt="">
                                    <p> {{ opinion.message }} </p>
                                    <h1 class="title"> {{ opinion.name }} </h1>
                                    <h1 class="subtitle"> {{ opinion.career }} </h1>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- End of testmonial section -->


    <!-- Hire me section -->
    <section class="bg-gray p-0 section">
        <div class="container">
            <div class="card bg-primary">
                <div class="card-body text-light">
                    <div class="row align-items-center">
                        <div class="col-sm-9 text-center text-sm-left">
                            <h5 class="mt-3">Hire Me For Your Project</h5>
                            <p class="mb-3">Choose excellence, hire me, and together we'll achieve great success!</p>
                        </div>
                        <div class="col-sm-3 text-center text-sm-right">
                            <a target="_blank" href="https://www.linkedin.com/in/hamza-waleed-4277a7269/">
                                <button class="btn btn-light rounded">Hire Me!</button>
                            </a>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </section>      
    <!-- End od Hire me section. -->

    <!-- Contact Section -->
    <section id="contact" class="position-relative section">
        <div class="container text-center">
            <h6 class="subtitle">Contact</h6>
            <h6 class="section-title mb-4">Get In Touch With Me</h6>
            <p class="mb-5 pb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In alias dignissimos. <br> rerum commodi corrupti, temporibus non quam.</p>
    
            <div class="contact text-left">
                <div class="form">
                    <h6 class="subtitle">Available 24/7</h6>
                    <h6 class="section-title mb-4">Get In Touch</h6>
                    <form action="javascript:mail();">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <textarea name="contact-message" id="body" cols="30" rows="5" class="form-control" placeholder="Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block rounded w-lg">Send Message</button>
                    </form>
                </div>
                <div class="contact-infos">
                    <div class="item">
                        <i class="ti-location-pin"></i>
                        <div class="">
                            <h5>Location</h5>
                            <p> Egypt Cairo (EG) </p>
                        </div>                          
                    </div>
                    <div class="item">
                        <i class="ti-email"></i>
                        <div class="mb-0">
                            <h5>Email Address</h5>
                            <p> learncodeeasily.contact@gmail.com </p>
                        </div>
                    </div>
                </div>                  
            </div>
        </div>  
        <div id="map"> 
            <iframe src="https://snazzymaps.com/embed/61257"></iframe>
        </div>      
    </section>
    <!-- End of Contact Section -->
{% endblock content %}